body {
    font-family: "Lucida Console", Monaco, monospace;
}

.message {
    padding: 1%;
    border-bottom: solid gray;
    margin: 1%;
    box-shadow: gray 2px 2px 2px;
}

.USER {
    margin-right: 10%;
    margin-left: 1%;
    background-color: lightgray;
}

.SELF {
    margin-right: 1%;
    margin-left: 10%;
    background-color: lightblue;
}

.SERVER {
    background-color:#ffa366;
}

.PRIVATE {
    background-color: #ff99e6;
}

#maintitle {
    text-align: center;
}

#chatwindow {
    margin: 0 auto;
    overflow: scroll;
    height: 40vw;
    width: 50%;
    border: solid;
}

#inputsection {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid;
    display: flex;
}

#input{
    width: 80%;
    padding: 1%;
}

#send {
    width: 20%;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 1300px) {
    #chatwindow {
        height: 130vw;
        width: 90%;
    }

    #inputsection {
        width: 90%
    }
}
