.message {
    padding: 1%;
    border-bottom: solid gray;
    background-color: lightgray;
    margin: 1%;
    margin-right: 10%;
    margin-left: 1%;
    box-shadow: gray 2px 2px 2px;
}

.mine {
    margin-right: 1%;
    margin-left: 10%;
    background-color: lightblue;
}

#maintitle {
    text-align: center;
}

#chatwindow {
    margin: 0 auto;
    overflow: scroll;
    height: 25vw;
    width: 50%;
    border: solid;
}

#inputsection{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid;
    display: flex;
}

#input{
    width: 80%;
    padding: 1%;
}

#send {
    width: 20%;
}